#middle {
    overflow:auto;
}

#header    {
}
#foot    {
    position: fixed;
    bottom: 0;
    width: 100%;

    background:white;
    border-top: solid 1px #D1D1D1;
}

.editable {
    cursor: text;
}

.list-header {
    padding: 5px;
    transition: background-color 0.2s;
}
.list-header:hover {
    cursor: move;
    background-color: #DDDDFF;
}

.sets {
    padding: 0px;
}
.set {
    margin: 5px;
    padding: 5px;
    border: solid 1px #DDDDDD;
    display: inline-block;
    vertical-align:top;
    min-width:200px;
}

.set > .list-header::before {
    content: "\25A0"; /*■ Black square*/
    padding-right: 0.5em;
    color: #888888;
}

.partitions {
    padding: 0px;
    min-height: 20px;
    list-style-type: none;
}
.partition {
    border-radius: 10px;
    border: solid 2px #90B0D4;
    margin: 10px 0px;
    padding: 5px;
}
.partition > .list-header::before {
    content: "\25CF"; /*● Black circle*/
    padding-right: 0.2em;
    color: #888888;
}

.items {
    padding-left:10px;
    min-height: 20px;

    transition: height 0.2s;
}
.item {
    margin: 5px;
    border-radius: 5px;
    cursor: move;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    background:#8AE2FF;
}

.item::before {
    content: "\25CB"; /*○ White circle*/
    padding-right: 0.2em;
    color: #888888:;
    padding: 5px;
}

.item-name {
    align-self: flex-start;;
    padding:5px;
}

.item-size {
    margin-left: auto;
    font-weight:bold;
    white-space: nowrap;
    padding:5px;
}
